*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

svg{
    height: 1em;
}

#statBox {
    position: absolute;
    bottom: 50px;
    right: 0;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.684);
    color: white;
    display: flex;
    justify-content: center;
    z-index: 2;
    padding: 15px 50px;
    flex-direction: row;
}

#statBox .col-1, #statBox .col-2 {
    display: flex;
    flex-direction: column;
}

.col-1 {
    width: 2em;
    padding-top: 1em;
}

img {
    width: 2em;
    margin-top: 1.2em;
    height: 2em;
    object-fit: scale-down;
}

#phone-saved-text{
    margin-top: 1em;
}

#day {
    font-weight: bold;
}